.main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.chip-content {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    min-height: 200px;
    box-sizing: content-box;
    justify-content: space-between;
}

.book-icon {
    width: 140px;
}

.button-group {
    text-align: end;
    margin: 20px 0;
}

.button-group>button {
    margin-left: 20px;
}

.close {
    margin-right: 10px;
    margin-top: 5px;
    text-decoration: none;
    width: 40px;
    text-align: right;
    cursor: pointer;
}

.mt25 {
    margin-top: 25px;
}

.p15 {
    padding: 15px 15px 15px 0;
}

@media only screen and (max-width: 768px) {
    .main {
        grid-auto-flow: row;
    }
}