<h2 class="p-3 text-center">Demo - Display a list of items </h2>
<div #container class="container" *ngIf="autherDetails">
    <div>
        <p><b>Name :</b> {{autherDetails.author}}</p>
        <p><b>Birthday :</b> {{autherDetails.birthday}}</p>
        <p><b>Birth Place :</b> {{autherDetails.birthPlace}}</p>
    </div>
    <hr>
</div>
<div class="button-group">
    <button (click)="sort('title')" class="btn btn-for-sort">Sort by Title</button>
    <button (click)="sort('PublishDate')" class="btn btn-for-sort">Sort by Year</button>
</div>
<div class="main">
    <div *ngFor="let list of lists; let i = index">
        <div class="card chip-content">
            <div class="chip-content">
                <img class="card-img-top book-icon" src={{list.imageUrl}} alt="Card image">
                <div class="p15">
                    <h4 class="card-title"> <a href={{list.purchaseLink}}>{{list.title}}</a></h4>
                    <p class="card-text">This book was released in the year of <b>{{list.PublishDate}}</b>.</p>
                </div>
            </div>
            <a class="close">
                <span class="closeX" (click)="lists.splice(i, 1)"><i class="fa fa-close"></i></span>
            </a>
        </div>
    </div>
</div>

<a *ngIf="isShow" href="#" class="back-to-top d-flex align-items-center justify-content-center"
    (click)="scrollToTop()"><i class="fa fa-arrow-up"></i></a>